* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background-color: #003366;
    color: white;
    padding: 30px;
    text-align: center;
    margin-bottom: 0;
}

nav {
    background: #ffd786;
    padding: 15px 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: rgb(13, 13, 13);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    width: 90%;
    margin: 20px auto;
    background: white;
    padding: 20px;
}

article {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 15px;
    color: #003366;
}

.profile {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.profile img {
    width: 150px;
    height: 150px;
}

.info p {
    margin-bottom: 8px;
}

.columns {
    display: flex;
    gap: 40px;
}

.columns ul {
    margin-left: 20px;
}

.favorite-item {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    align-items: flex-start;
}

.favorite-item img {
    width: 200px;
    min-width: 200px;
    height: auto;
}

.favorite-text {
    flex: 1;
}

figure {
    text-align: center;
}

p {
    text-align: justify;
}

footer {
    background-color: #003366;
    color: white;
    padding: 15px;
}

footer p {
    justify-content: center;
    text-align: center;
}
